<h1>{{title}}</h1>
<h3>Update Sales Person</h3>
<hr />
<form [formGroup]="salespersonForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <div class="form-group row">
        <label class=" control-label col-md-12">First Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="firstName">
        </div>
        <span class="text-danger" *ngIf="firstName.invalid && formDir.submitted">
            First Name is required.
        </span>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12" for="Last Name">Last Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="lastName">
        </div>
        <span class="text-danger" *ngIf="lastName.invalid && formDir.submitted">
            Last Name is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Address">Address</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="address">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Phone">Phone</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="phone">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Start Date">Start Date</label>
        <div class="col-md-4">
            <input class="form-control" type="datetime"  value="@Datetime.Today.ToString('yyyy-MM-dd hh:mm:ss')" formControlName="startDate">
        </div>
        <span class="text-danger" *ngIf="startDate.invalid && formDir.submitted">
            Start Date is required
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Termination Date">Termination Date</label>
        <div class="col-md-4">
            <input class="form-control" type="datetime" formControlName="terminationDate">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Manager">Manager</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="manager">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>